<GridLayout>
    <StackLayout orientation="vertical">
        <TextField hint="e-mail" autocorrect="false"></TextField>
        <TextField hint="password" autocorrect="false"></TextField>
        <Button text="Run native code" (tap)="onTap($event)"></Button>
    </StackLayout>
</GridLayout>
